# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-Server-Desktop_Qt_6_2_4_MinGW_64_bit-Debug
build-Client-Desktop_Qt_6_2_4_MinGW_64_bit-Debug
build-VDP_Simulator-Desktop_Qt_6_2_4_MinGW_64_bit-Debug
Server.pro.user
Client.pro.user
